.page-service {
  .content {
    > p {
      &:first-of-type {
        font-size: 1.6rem;
        line-height: 1.4;
        margin-bottom: 40px;
        font-weight: regular;
        color: rgb(104, 104, 104);
      }
    }
  }
}

.service-image-wrapper {
  text-align: center;
}

.service-image {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

@media (min-width: 1350px) {
  .service-image-wrapper {
    text-align: right;
    max-width: 50vw;
  }

  .service-image {
    max-width: 150%;
  }
}

@media (min-width: 1650px) {
  .service-image {
    max-width: 200%;
  }
}

@media (min-width: 1900px) {
  .service-image {
    max-width: 250%;
  }
}

.intro {
  padding-bottom: 20px;
}

ul {
  padding-left: 2rem;
}

ul ul {
  padding-left: 3rem;
}


.fullscreen-modal {
  display: none;
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
}

.fullscreen-modal.show {
  display: flex;
}

.fullscreen-modal img {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 0px;
  cursor: zoom-out;
}

