.page-post {
  .content {
    > p {
      &:first-of-type {
        font-size: 1.6rem;
        line-height: 1.4;
        margin-bottom: 40px;
        font-weight: regular;
        color: rgb(104, 104, 104);
      }
    }
  }
}

.post-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-list .post-summary {
  border-bottom: 1px solid #eee;
  padding-bottom: 1.5rem;
}

