.intro-image {
  width: 120%;
  max-width: none;
  height: auto;
  margin-top: -20px;
  margin-left: -60px;
  position: relative;
  pointer-events: none;
  user-select: none;

  @include media-breakpoint-up(md) {
    width: 130%;
    margin-left: -80px;
  }

  @include media-breakpoint-up(lg) {
    width: 140%;
    margin-top: -40px;
    margin-left: -100px;
  }
}

.intro-image-hide-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
